server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: user
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**

        - id: skill
          uri: lb://SKILL-SERVICE
          predicates:
            - Path=/skills/**

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    enabled: true
    sampling:
      probability: 1.0   

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans  

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"