server:
  port: 9091

spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  circuitbreaker:
    instances:
      skillService:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

  retry:
    instances:
      skillService:
        maxAttempts: 3
        waitDuration: 500ms

  timelimiter:
    instances:
      skillService:
        timeoutDuration: 1s

feign:
  circuitbreaker:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    enabled: true
    sampling:
      probability: 1.0   

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans  

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"