server:
  port: 9091

spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

resilience4j:
  circuitbreaker:
    instances:
      skillService:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

  retry:
    instances:
      skillService:
        maxAttempts: 3
        waitDuration: 500ms

  timelimiter:
    instances:
      skillService:
        timeoutDuration: 1s

feign:
  circuitbreaker:
    enabled: true