server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/JATragedian/skilltracker-cloud-config.git
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"